@{
    ViewData["Title"] = "Home Page";
}

<form-group>
    <label for="tagtest" class="label label-primary">Testing form group</label>
    <input class="form-control" name="tagtest" placeholder="Write something inside this input"/>
</form-group>

<labeled-input  label="This is a label" label-style="Primary" type="text" name="someInput" placeholder="Write something inside" value="" />