@model DemonstrationModel
<br /><br /><br />
These buttons are styles using a single bootstrap theme specification. Themes in buttons are inherited
            <div theme="warning">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
                <a href="/Home/Index">Cancel</a>
            </div>

<br /><br />
<input string-value-for="StringValue"/>